body{
    border: 1em solid;
    margin:1em;
}


.box{
    display: flex;
}

.taskbox{
    border: 1px solid;
    margin: 1em;
    padding: 3px;
    
}

#tasktitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.calendarbox{
    
    border: 1px solid;
    margin: 1em;
    width: auto;
    margin: 1em auto;
    resize: auto;
    
    
}

.tasks{
    margin-top: 5px;
    margin-left: 5px;
    
  
}

.tasklist{
    border: 1px solid;
    margin: 1em;
    min-height: 300px;
    padding: 3px;
}

.monthbuttons {
    margin-left: 40%;
}

#monthyear{
    text-align: center;
    font-size: 35px;
}

th{
    padding-right: 40px;
    padding-left: 40px;

}

td {
    padding-bottom: 5em;
    border: 1px solid;
    text-align: left;
}
