body{
    border: 1em solid;
    margin:1em;
}

.taskbox{
    border: 1px solid;
    margin: 1em;
    
}

.calendarbox{
    float: right;
    border: 1px solid;
    margin: 1em;
    width: auto;
    
}

.tasks{
    float: left;
}

.tasklist{
    border: 1px solid;
    margin: 1em;
    min-height: 300px;
}

.weekdays{
  
}

#monthyear{
    text-align: center;
    font-size: 35px;
}

th{
    padding-right: 40px;
    padding-left: 40px;

}

td {
    padding-bottom: 4em;
    border: 1px solid;
    text-align: left;
}
